/* Put your custom styles here */
body { 
	margin-bottom: 80px
	height: 100%;
}

.header-1{
    padding-bottom: 50px;
}

div.mask.img{
	position: absolute;
    left: 100px;
    top: 100px;
    height: 300px;
    width: auto;
}

.mask{
	background-image: url("../images/current.png");
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='7' /></filter></svg>#svgMask");
}

input.form-control{
    margin-left: auto;
    margin-right: auto;
    width: 45%
}

div #name, #joined, #occupation, #dob, #email, #address{
	color: white !important;
}

.underlined-title h1{
	color: #165f32 !important;
}

div.feature-box h5{
	color: white !important;
}

.littlestuff-hover:hover
{
    color: #165f32 !important;
}

.headings{
	color: #431857 !important;
}

.navfoot{
    color: #1d2a59 !important;
}

.littlestuff
{
    color: #165f32 !important;
}

.bg-littlestuff
{
    background-color: #165f32 !important;
}

.bg-headings{
	background-color: #431857 !important;	
}

.bg-navfoot
{
    background-color: #1d2a59 !important;
}
