/* Put your custom styles here */
body { 
	/*background: url(../Images/current.png) no-repeat center center fixed; */
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 80px
	height: 100%;
}
.header-1{
    padding-bottom: 50px;

}

html,body{
	overflow-x: hidden;
	color: white;
}

section.login-wrap{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    background-size: contain;
    background-image: url(../images/current.png);
	background-blend-mode: overlay;
}

input.form-control{
    margin-left: auto;
    margin-right: auto;
    width: 45%
    
}

}