html{
	position: relative;
	height: 100%;
}


body { 
	background: url(../Images/current.png) no-repeat center center fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*margin-bottom: 80px;*/
	height: 100%;
}

html,body{
	overflow-x: hidden;
	color: white;
}

.navbar{
	border: 0px solid transparent;
	background-color: #68D7FF;  
}


.btn-default {
	background: #1D2A59;
	color: #ffffff;
	border-radius: 0;

}

a{

	color:white;

}

.navbar .nav > li > a {
	float: none;
	line-height: 19px;
	padding: 9px 10px 11px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color:  #B2AC40;
	font-size: 21px;
}



/* Added CSS */


/* Popup CSS */

#popup {
	display:none;
	position:fixed;
	margin:0 auto;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 50px 2px #000;
	opacity: 1;
	width: 25%;
	height: 20%;
}

#popin{
	cursor: pointer; 
	cursor: hand; 
}

.close-btn {
	position: fixed;
	right: 1.5;
	top: 1.5;
	width: 25px;
	border-radius: 100%;
}

.close-btn:hover{
	background: #A9A9A9;
	cursor: hand; 
}
/*End of Popup CSS*/

label.error {

	color: red !important;

}


/*Main-Section CSS*/

.main-section{

	background-color: rgba(94,156,178,0.9);
	min-height: 100%;
}

div #center{
	opacity: 0.8 !important;
}

.glow {
	border: 2px solid #dadada;
}

.glow:focus{
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}


#main-nav ul {
	background-color: #68D7FF;
}

#main-nav li:hover{
	color: black;
}

#nav-drop li:hover{
	background-color: white;
}


.wrapper{
	min-height: 100%;
}


.navbar .nav > li > a:hover {
	background-color: white;
	color: black;
}

h3,h4,h5{
	color:white;
}

.btn:hover,.btn:focus,.btn:focus{
	color: #1D2A59;
	background-color: white;
}
.btn-primary{
	background: #1D2A59;
	color: #ffffff;
	border-radius: 0;

}

#center > a{
	position: relative;
	left: 30px;
}

#center > h1,h2{
	color: white;
	position: relative;
	left: 30px;
	margin-top: 0px;
	padding-top: 20px;
	word-wrap: break-word;

}


#profile-page{
	min-height: 100%;
}

#profile-page .profile-form .form-group label{
	color: white;
}

.checkbox{
	color: white;
}

#bottom{
	position: absolute;
	bottom: 0px;
	width: 100%;

}

.text{
	color:white;
}

.container-fluid{
	/*background-color: rgba(94,156,178,0.9);*/
	color: black;
}

#about-us{
	background-color: rgba(0,0,0,0.4);

}

#footer {
	background-color: #68D7FF;
	position: absolute;
	bottom: 0;
	width: 100%;
	/*height: 80px;*/
}

#main {
	overflow:auto;
	/*padding-bottom:150px;  this needs to be bigger than footer height*/
}

.footer {
	/*position: relative;*/
	height: auto;
	min-height: 30px;
	clear: both;
	margin-top: 0px;
} 

#footer{

	padding-top:10px;
	padding-bottom: 10px;
}

.form-group{
	/*padding: 0 5% 0 5%;*/
}



#createuser {
	color: blue;
}

#createuser form input{
	color: red;
}

#invalid{
	color: red;
	font-weight: bold;
	font-size: 1.2em;
}

textarea {
	width: 100%; 
	min-width:100%; 
	max-width:100%;

	min-height: 60px;
	max-height: 250px;
}

.overlay {
	background: #e9e9e9;  <- I left your 'gray' background
	display: none;        <- Not displayed by default
	position: absolute;   <- This and the following properties will
	top: 0;                  make the overlay, the element will expand
	right: 0;                so as to cover the whole body of the page
	bottom: 0;
	left: 0;
	opacity: 0.5;
}

.jobblock {
	cursor: pointer; 
	cursor: hand;
}

.jobblock ul li:hover{
	background-color: red;
}


.joboptions {
	width: 25%;
	min-width: 300px;
	height: 200px;
	position: absolute;
	top: 35%;
	left: 37.5%;
	background-color: #DBE9F4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	padding-bottom: -20px;
}

.jobchoice {
	width: 100%;
	height: 50px;
	margin-top: 30px;
}

.jobchoice button {
	width: 50%;
}

#info{
	margin-top: 5px;
	font-size: 1.5em;
	color: black;
	font-weight: bold;
}
